<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SimpleDB" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SimpleDB.mdf;Integrated Security=True;Connect Timeout=30" />
  </connectionStrings>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <add type= "FirstSimpleSite.AutificationModules.CustomAuntificationModule" name="AuntificationModule" />
    </modules>
    <handlers>
      <remove name="MyHandler" />
      <add name="AsyncHandler" path="*.json" verb="*" type="FirstSimpleSite.AsyncHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="AutHandler" verb="POST" path="getajax.aspx" type="FirstSimpleSite.HAndlers.AutificationHandler" />
      <add name="LogoutHandler" verb="POST" path="logout.aspx" type="FirstSimpleSite.HAndlers.LogOutHandler" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="BadDataMessage" value="Not all data"/>
    <add key="BadPasswordMessage" value="IncorrectPassword"/>
    <add key="BadUserNameMessage" value="User not found"/>
    <add key="Ok" value="Login Success"/>
    <add key="LoginKey" value="login"/>
    <add key="PassKey" value="pass"/>
    <add key="Token" value="authToken"/>
    <add key="UserNameCookie" value="userName"/>
  </appSettings>
</configuration>